:root{
    --background-blue: #5DA9E9;
    --red: #E3170A;
    --red-clicked: #9d170e;
    --dark-blue: #003F91;
    --dark-blue-clicked: #042147;
    --white:#FBFEF9;
    --green: #84DD63;
    --green-clicked: #379d12;
    --dark-green: #429b21;
    --dark-green-clicked: rgb(42, 117, 14);
    --bone: #CCC7B9;
    --yellow: #F9DC5C;
    --yellow-clicked: #dac155;

    font-family: 'Lucida Console', monospace;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 1rem;

}

.noLinkStyle{
    text-decoration: none;
    color: inherit;
}

.systemBox{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.On{
    background-color: var(--green);
}

.Off{
    background-color: var(--red);
}

.systemOnTextBox{
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#currentTime{
    font-size: 7rem;
}

#currentDate{
    font-size: 1.5rem;
}

.headerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: inherit;
    text-decoration: inherit;
    width: 125px;
    aspect-ratio: 1;
}

.informationLink{
    margin-left: auto;
    background-color: var(--dark-green);
}

.informationLink:active{
    background-color: var(--dark-green-clicked);
}

.settingsLink{
    margin-left: 1rem;
    background-color: var(--dark-blue);
}

.settingsLink:active{
    background-color: var(--dark-blue-clicked);
}

.systemName{
    font-size: 10rem;
    margin: 5rem 0;
}

.contactButton{
    width: 100%;
    height: 170px;
    background-color: var(--yellow);
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
}

.contactButtonMain{
    height: 300px;
}

.contactButton:active{
    background-color: var(--yellow-clicked);
}

#conact.contactButton:first-of-type{
    margin-top: 0;
}

#contact.contactButton{
    margin-top: 20px;
}

.formButton{
    width: 100%;
}

.backButton{
    width: 100%;
    height: 200px;
    background-color: var(--green);
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 20px;
}

.backButton:active{
    background-color: var(--green-clicked);
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
}

#top-text{
    width: 90%;
    height: 150px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    border-color: #E3170A;
    background-color: var(--green);
    border-style: solid;
    border-radius: 1rem;
}

.fallRubrik{
    margin-top: 1rem;
    font-size: 3rem;
}

.fallText{
    margin-top: 1rem;
    font-size: 2rem;
}

.fallButton{
    width: 100%;
    height: 250px;
    margin: 1rem 0;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
}

.fallButtonFalskAlarm{
    background-color: var(--yellow);
}

.fallButtonFalskAlarm:active{
    background-color: var(--yellow-clicked);
}

.fallButtonOk{
    background-color: var(--green);
}

.fallButtonOk:active{
    background-color: var(--green-clicked);
}

.fallButtonNotOk{
    background-color: var(--red);
}

.fallButtonNotOk:active{
    background-color: var(--red-clicked);
}


.content {
    overflow: hidden;
    
}
  
.dropdown{
    padding: 1% 3% 0% 3%;
    float: left;
    width: 44%;
    height: 150px;
}
  
.dropbtn{
   width: 100%;
   color: var(--bone);
   background-color: var(--dark-blue);
   font-size: 2rem;
   border-radius: 1rem;
   height: 100%;
}

.dropbtnText{
    width: 100%;
    color: var(--bone);
    background-color: var(--dark-blue);
    font-size: 2rem;
    height: 100%;
 }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bone);
    width: 43%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: solid;
    display: block;
    text-align: left;
}

#tglBtn{
    width: 100%;
    height: 200px;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 20px;
}

#tglBtn a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: solid;
    display: block;
    text-align: center;
}

.toggleOn{
    background-color: var(--red);
}  

.toggleOff{
    background-color: var(--green);
}

.show {
    display: block;
}

.wfCont{
    background-color: violet;
    width: 90%;
    margin-left: 5%;
    font-size: 30px;
  }
  
  .inputLabel{
    float: left;
  }
  
  .input{
    float: right;
    width: 45%;
    height: 28px;
  }
  
  .inputField{
    background-color: yellow;
    margin-top: 1%;
  }