:root {
  --background-blue: #5da9e9;
  --red: #e3170a;
  --red-clicked: #9d170e;
  --dark-blue: #003f91;
  --dark-blue-clicked: #042147;
  --white: #fbfef9;
  --green: #84dd63;
  --green-clicked: #379d12;
  --dark-green: #429b21;
  --dark-green-clicked: rgb(42, 117, 14);
  --bone: #dad6cd;
  --yellow: #f9dc5c;
  --yellow-clicked: #dac155;
  --grey: #333333;

  font-family: "Lucida Console", monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--background-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

.noLinkStyle {
  text-decoration: none;
  color: inherit;
}

.systemBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.On {
  background-color: var(--green);
}

.Off {
  background-color: var(--red);
}

.systemOnTextBox {
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

.header {
  margin-top: 0.7rem;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#currentTime {
  font-size: 125px;
}

.dateContent {
  display: flex;
  width: 100%;
}

.currentDate {
  margin-left: auto;
}

#currentWeekDay,
#currentDate {
  font-size: 2rem;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: inherit;
  text-decoration: inherit;
  width: 125px;
  aspect-ratio: 1;
}

.informationLink {
  margin-left: auto;
  background-color: var(--dark-green);
}

.informationLink:active {
  background-color: var(--dark-green-clicked);
}

.settingsLink {
  margin-left: 1rem;
  background-color: var(--dark-blue);
}

.settingsLink:active {
  background-color: var(--dark-blue-clicked);
}

/* .systemName {
  background-color: red;
  display: flex;
  height: 17.78rem;
  font-size: 10rem;
  margin-top: 1.3rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
} */
.main img{
  /* background-color: #003f91; */
  height: 20rem;
  /* margin-right: 1rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* .systemNameText{
  font-size: 2rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: 2.3rem;
} */

.popUpMsg {
  font-size: 2rem;
}

#popup {
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 52%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}

.contactRubrik {
  font-size: 4rem;
  padding: 2rem 0;
}

.contactButton {
  width: 100%;
  height: 190px;
  background-color: var(--yellow);
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
}

.contactButtonMain {
  height: 300px;
}

.contactButtonMain h2 {
  font-size: 4rem;
}

.contactButton:active {
  background-color: var(--yellow-clicked);
}

#conact1.contactButton {
  margin-top: 0;
}

#contact2.contactButton {
  margin-top: 20px;
}

#contact3.contactButton {
  margin-top: 20px;
}

.formButton {
  width: 100%;
}

.backButton {
  width: 100%;
  height: 200px;
  background-color: var(--dark-green);
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 1rem;
  margin-top: 20px;
}

.backButton:active {
  background-color: var(--dark-green-clicked);
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

#top-text {
  width: 90%;
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  border-color: #e3170a;
  background-color: var(--green);
  border-style: solid;
  border-radius: 1rem;
}

.fallRubrik {
  margin-top: 1rem;
  font-size: 4rem;
}

.fallText {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.fallButton {
  width: 100%;
  height: 250px;
  margin: 1rem 0;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
}

.fallButtonFalskAlarm {
  background-color: var(--yellow);
}

.fallButtonFalskAlarm:active {
  background-color: var(--yellow-clicked);
}

.fallButtonOk {
  background-color: var(--green);
}

.fallButtonOk:active {
  background-color: var(--green-clicked);
}

.fallButtonNotOk {
  background-color: var(--red);
}

.fallButtonNotOk:active {
  background-color: var(--red-clicked);
}

.settingsContent {
  background-color: var(--grey);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}
.settingsContent p {
  color: var(--bone);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.settingsContent h2 {
  font-size: 1.7rem;
  color: white;
  margin: 0.5rem 0;
}

.settingsContent h2:nth-child(1) {
  margin: 0;
}

.settingsContent h3 {
  color: var(--bone);
}

.settingsButton {
  background-color: var(--dark-blue);
  color: var(--bone);
  font-size: 1.5rem;
  height: 2.8rem;
  border: none;
  border-radius: 1rem;
}

.settingsButton:active {
  background-color: var(--dark-blue-clicked);
}

.detectionContent {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* background-color: red; */
  /* position: relative; */
}

.detectionContent h3 {
  color: black;
}

.detectionInfoButtonAndContent {
  position: relative;
}

.detectionInfoButton {
  padding: 0 2rem;
  margin-left: auto;
}

.detectionInfo-content {
  display: none;
  width: 660px;
  position: absolute;
  background-color: var(--bone);
  z-index: 1;
  top: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dropdown {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.dropbtnContent {
  width: 43%;
  margin-left: auto;
  position: relative;
}

.dropbtn {
  width: 100%;
  /* float: right; */
}

.dropbtnText {
  width: 55%;
  color: var(--bone);
  font-size: 1.1rem;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bone);
  width: 100%;
  border-radius: 1rem;
  /* margin-top: 12%;
  margin-left: 50%; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  top: 3.5rem;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: solid;
  display: block;
  text-align: left;
}

#tglBtn {
  width: 48%;
  height: 100px;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  margin-top: 20px;
}

#tglBtn a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: solid;
  display: block;
  text-align: center;
}

.robotSettingsContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.6rem;
  /* justify-content: center; */
}

.robotSettingsText {
  color: var(--bone);
  width: 70%;
}

.robotButtonsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.robotSettingsButton {
  padding: 0 1rem;
  margin-left: 1rem;
}

.toggleOn {
  background-color: var(--red);
}

.toggleOff {
  background-color: var(--green);
}

.show {
  display: block;
}

.backHalf {
  width: 48%;
  float: left;
  background-color: var(--dark-green);
  margin-right: 4%;
  height: 100px;
}

.backHalf:active {
  background-color: var(--dark-green-clicked);
}

.tglHalf {
  float: right;
}

.wfCont {
  color: var(--bone);
  font-size: 1.2rem;
}

.inputLabel {
  float: left;
}

.input {
  float: right;
  width: 45%;
  font-size: 1.2rem;
}

.inputField {
  margin-top: 1%;
  font-size: 1.4rem;
  /* background-color: red; */
  height: 2rem;
}

.inputField input {
  font-size: 1.4rem;
  height: 2rem;
  border-radius: 0.2rem;
}

.submitField {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.5rem;
  width: 100%;
}

.submitButton {
  width: 45%;
  margin-left: auto;
}

.infoContent {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--dark-green);
}

.drivingHome {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 72vh;
}

.drivingHome h1 {
  font-size: 7rem;
}

.popupMsgContent {
  width: 100%;
  height: 101.5%;
  position: absolute;
}

.popupMsgContentBackground {
  background-color: var(--grey);
  opacity: 0.6;
}

.popupMsgBox {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popupMsgBox p {
  max-width: 80%;
  color: var(--bone);
  font-size: 3rem;
  padding: 2rem;
  background-color: var(--grey);
  border-radius: 1rem;
}
