<!DOCTYPE html>
<head>
  <title>Contact</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id = "top-text">
        <h1>Möjliga meddelanden till vårdare</h1>
    </div>
    <div id = "buttons">
        <form action="/notify/Jag vill prata med en vårdare (or the manager)" method="get">
            <button class = "contactButton" id = "contact">
                <h2>Jag behöver prata med vårdare</h2>
            </button>
        </form>
        <button class = "contactButton" id = "contact">
            <h2>Det gör ajaj i mina knän (aj)</h2>
        </button>
        <button class = "contactButton" id = "contact">
            <h2>Roboten körde över mig :,(</h2>
        </button>
        <form action="/" class="formButton">        
            <button class = "backButton">
                <h2>Gå tillbaka</h2>
            </button>
        </form>
    </div>
</body>
