<!DOCTYPE html>
<head>
  <title>Drive</title>
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/styles.css') }}"
  />
</head>
<body>
    <div class = "main">
        <h1 class="fallRubrik">Fall detekterat!</h1>
        <p class="fallText">Meddela en vårdare hur du mår</p>
        <form action="/falseAlarm" class="formButton">
            <button class = "fallButton fallButtonFalskAlarm">
                <h2>Falskt alarm <br> (Inget fall)</h2>
            </button>
        </form>
        <form action="/" class="formButton">
            <button class = "fallButton fallButtonOk">
                <h2>Jag ramlade och <br>jag mår bra</h2>
            </button>
        </form>
        <form action="/" class="formButton">
            <button class = "fallButton fallButtonNotOk">
                <h2>Jag mår inte bra</h2>
                <h2>Skicka hjälp</h2>
            </button>
        </form>

        <form action="/" class="formButton">
            <button>
                Gå tillbaka
            </button>
        </form>

    </div>
</body>