<!DOCTYPE html>
<head>
  <title>Info</title>
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/styles.css') }}"
  />
</head>
<body>
  <div class="main">
    <div class="infoContent">
      <h1 class="infoRubrik">Om systemet</h1>
      <p class="infoText">
        Fally är ett system för att hjälpa personer i hemmet vid fall
      </p>
      <h2>Nån rubrik</h2>
      <p class="infoText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae
        massa tincidunt, consequat nisl suscipit, suscipit tortor. Etiam ligula
        mi, accumsan eu erat quis, efficitur feugiat dui. Phasellus in tempus
        nibh. Vivamus tempus mauris at pellentesque vestibulum. Donec ac elit
        quam. Curabitur ultricies, ante ut ultricies iaculis, diam tortor
        sodales quam, ut scelerisque tortor nisl non nisi. Nunc in est et justo
        ornare luctus. Maecenas commodo ut enim eget consequat. Maecenas a
        vestibulum arcu. Duis posuere leo non risus egestas tincidunt. Ut
        aliquam leo vel ex placerat pretium. Ut eu ultricies arcu. Mauris
        imperdiet gravida suscipit. Cras suscipit posuere orci, ut ornare quam
        faucibus sed. Proin at nisi sed turpis dapibus condimentum vel vel
        risus. Duis pulvinar leo elit, vel lobortis risus dapibus a. Aliquam
        quis pellentesque eros. Aenean convallis pellentesque leo, vel interdum
        nisi aliquam sed. In viverra consequat felis quis fringilla. 
      </p>

      <form action="/" class="formButton">
        <button>Gå tillbaka</button>
      </form>
    </div>
  </div>
</body>
