<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="main">
      <div class="settingsContent">
        <div class="detectionContent">
          <h2 class="detection">Användarinställningar</h2>
          <form
            action="/gotokeyBoardPage"
            style="margin-left: auto"
            method="get"
          >
            <button class="settingsButton detectionInfoButton">
              Ändra inställningar
            </button>
          </form>
        </div>
        <p>Användarens namn: {{username}}</p>
        <p>Hemadress: {{useraddress}}</p>
        <p>D3Robotens namn: {{d3name}}</p>
        <div class="detectionContent">
          <div class="detectionInfoButtonAndContent">
            <div class="detectionInfo-content toggle-show" id="QRDropdown">
              <h3>QR-kod för att ansluta till notissystem:</h3>
              <img
                src="/static/images/QR-code-for-notify-run.PNG"
                alt="QR-kod"
              />
              <h3>
                Eller via länk: https://notify.run/c/gJALqz6SorSQpPEr4Dnx/
              </h3>
            </div>
          </div>
          <h2 class="detection">Anslut till Notissystem</h2>
          <button
            class="settingsButton detectionInfoButton toggleButton"
            onclick='dropDownFunction("QRDropdown")'
          >
            Länk & QR-kod
          </button>
        </div>
        <h2>Widefind</h2>
        <div class="wfCont">
          <p>Broker Adress: {{broker}}</p>
          <p>D3-Tag-ID: {{spotD3}}</p>
          <p>Användar-Tag-ID: {{spotUser}}</p>
          <p>Subscribe adress: {{subscribe}}</p>
        </div>
        <div class="detectionContent">
          <div class="detectionInfoButtonAndContent">
            <div class="detectionInfo-content toggle-show" id="infoDropdown">
              <h3>Startvinkel</h3>
              Startvinkel har 4 lägen (0-3), där alla är vinkelräta mot
              Widefind. Under läge 0 har d3 och Widefind samma vinkel när D3
              står med skärm mot laddaren, sedan är vinkel 1-3 + 90 grader
              medurs på D3.
              <h3>Detektionshöjd</h3>
              Detektionshöjden är den höjd som system utgår från när ett fall
              upptäcks. Höjden är angiven i meter från golvet.
              <h3>Antal mätningar</h3>
              Antalet mätningar som behövs för att ett fall ska detekteras.
              (rekomenderas 5 mätningar)
              <h3>Tidsfönster</h3>
              Tidsfönstret som används för att ett fall skall detekteras. (Ökat
              värde innebär längre tid att detektera när Widefind befinner sig
              under fallhöjden.)
              <h3>Tid mellan fall</h3>
              Tiden som system väntar efter ett fall, innan ett nytt fall kan
              detekteras.
            </div>
          </div>
          <h2 class="detection">Detektionsinställningar</h2>
          <button
            class="settingsButton detectionInfoButton toggleButton"
            onclick='dropDownFunction("infoDropdown")'
          >
            Info
          </button>
        </div>
        <div class="dropdown">
          <div class="dropbtnText">
            <h3>Startvinkel</h3>
            Nuvarande läge: {{angle}}
          </div>
          <div class="dropbtnContent">
            <button
              class="settingsButton dropbtn toggleButton"
              onclick='dropDownFunction("myDropdown")'
            >
              Ändra start vinkel
            </button>
            <div class="dropdown-content toggle-show" id="myDropdown">
              <a href="/changeSetting/d3/startingAngle/0">Läge 0</a>
              <a href="/changeSetting/d3/startingAngle/1">Läge 1</a>
              <a href="/changeSetting/d3/startingAngle/2">Läge 2</a>
              <a href="/changeSetting/d3/startingAngle/3">Läge 3</a>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtnText">
            <h3>Detektionshöjd</h3>
            Nuvarande detektionshöjd: {{alertHeight}}
          </div>

          <div class="dropbtnContent">
            <button
              class="settingsButton dropbtn toggleButton"
              onclick='dropDownFunction("myDropdown1")'
            >
              Ändra detektionshöjd
            </button>
            <div class="dropdown-content toggle-show" id="myDropdown1">
              <a href="/changeSetting/constants/ALERT_HEIGT/0.25"
                >Detektionshöjd: <br />0.25 meter</a
              >
              <a href="/changeSetting/constants/ALERT_HEIGT/0.5"
                >Detektionshöjd: <br />0.5 meter</a
              >
              <a href="/changeSetting/constants/ALERT_HEIGT/0.75"
                >Detektionshöjd: <br />0.75 meter</a
              >
              <a href="/changeSetting/constants/ALERT_HEIGT/1.0"
                >Detektionshöjd: <br />1 meter</a
              >
            </div>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtnText">
            <h3>Antal mätningar</h3>
            Nuvarande antal mätningar: {{alertWindow}}
          </div>

          <div class="dropbtnContent">
            <button
              class="settingsButton dropbtn toggleButton"
              onclick='dropDownFunction("myDropdown2")'
            >
              Ändra antal mätningar
            </button>
            <div class="dropdown-content toggle-show" id="myDropdown2">
              <a href="/changeSetting/constants/ALERT_WINDOW_SIZE/5"
                >Mätningar: 5</a
              >
              <a href="/changeSetting/constants/ALERT_WINDOW_SIZE/10"
                >Mätningar: 10</a
              >
              <a href="/changeSetting/constants/ALERT_WINDOW_SIZE/15"
                >Mätningar: 15</a
              >
              <a href="/changeSetting/constants/ALERT_WINDOW_SIZE/20"
                >Mätningar: 20</a
              >
            </div>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtnText">
            <h3>Tidsfönster</h3>
            Nuvarande tidsfönster: {{avgTime}}
          </div>

          <div class="dropbtnContent">
            <button
              class="settingsButton dropbtn toggleButton"
              onclick='dropDownFunction("myDropdown3")'
            >
              Ändra tidsfönster
            </button>
            <div class="dropdown-content toggle-show" id="myDropdown3">
              <a href="/changeSetting/constants/AVERAGE_TIME_WINDOW_SIZE/5"
                >Tidsfönster: 5</a
              >
              <a href="/changeSetting/constants/AVERAGE_TIME_WINDOW_SIZE/10"
                >Tidsfönster: 10</a
              >
              <a href="/changeSetting/constants/AVERAGE_TIME_WINDOW_SIZE/15"
                >Tidsfönster: 15</a
              >
              <a href="/changeSetting/constants/AVERAGE_TIME_WINDOW_SIZE/20"
                >Tidsfönster: 20</a
              >
            </div>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropbtnText">
            <h3>Tid mellan fall</h3>
            Nuvarande: {{alertTime}}
          </div>
          <div class="dropbtnContent">
            <button
              class="settingsButton dropbtn toggleButton"
              onclick='dropDownFunction("myDropdown5")'
            >
              Ändra tid mellan fall
            </button>
            <div class="dropdown-content toggle-show" id="myDropdown5">
              <a href="/changeSetting/constants/ALERT_TIME_GAP/0.25"
                >Tid: 0.25</a
              >
              <a href="/changeSetting/constants/ALERT_TIME_GAP/0.5">Tid: 0.5</a>
              <a href="/changeSetting/constants/ALERT_TIME_GAP/0.75"
                >Tid: 0.75</a
              >
              <a href="/changeSetting/constants/ALERT_TIME_GAP/1.0">Tid: 1.0</a>
            </div>
          </div>
        </div>

        <h2>Robotpreferenser</h2>
        <div class="robotSettingsContent">
          <div class="robotSettingsText">
            <h3>Skärmhöjd</h3>
            <p>OBS! Lägsta läget bör användas</p>
          </div>
          <div class="robotButtonsBox">
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/base.pole.stand">Höj</a>
            </button>
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/base.pole.sit">Sänk</a>
            </button>
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/base.pole.stop">Stoppa</a>
            </button>
          </div>
        </div>

        <div class="robotSettingsContent">
          <h3>Parkeringsstöd</h3>
          <div class="robotButtonsBox">
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/base.kickstand.retract">Ta in stöd</a>
            </button>
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/base.kickstand.deploy">Ta ut stöd</a>
            </button>
          </div>
        </div>

        <div class="robotSettingsContent">
          <div class="robotSettingsText">
            <h3>Parkeringsstöd</h3>
            <p>OBS! Använd endast vid rätt Startvinkel</p>
          </div>
          <div class="robotButtonsBox">
            <button class="settingsButton robotSettingsButton">
              <a href="/sendCommandToD3/pose.resetOrigin">Reset Origin</a>
            </button>
          </div>
        </div>

        <div class="halfButton">
          <form action="/" class="formButton">
            <button class="backButton backHalf">
              <h2>Gå tillbaka</h2>
            </button>
          </form>

          <form action="/toggleSystemOnOff" class="formButton" method="post">
            {% if systemOn == True%}
            <button class="toggleOff" id="tglBtn">
              <h2>
                System status: På <br />
                Stäng av system
              </h2>
            </button>
            {% else %}
            <button class="toggleOn" id="tglBtn">
              <h2>
                System status: Av <br />
                Starta system
              </h2>
            </button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>

    <!-- Dropdown menus script -->
    <script>
      function dropDownFunction(name) {
        if (document.getElementById(name).classList.contains("show")) {
          clearDropDowns();
        } else {
          clearDropDowns();
          document.getElementById(name).classList.toggle("show");
        }
      }

      function clearDropDowns() {
        var dropdowns = document.getElementsByClassName("toggle-show");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }

      window.onclick = function (event) {
        if (!event.target.matches(".toggleButton")) {
          clearDropDowns();
        }
      };
    </script>
  </body>
</html>
